.outer-shadow {
    --outer-shadow: 2px 2px 2px #31363F, -2px -2px 2px #31363F;
    border-radius: 5px;
    box-shadow: var(--outer-shadow);
}

.inner-shadow {
    --inner-shadow: inset 2px 2px 2px #31363F, inset -2px -2px 2px #31363F;
    border-radius: 5px;
    box-shadow: var(--inner-shadow);
}
#DynamicTable td, #DynamicTable th{
    color: white;
    font-weight: 350;
}  

#DynamicTable tr:first-child td {
    font-weight: bolder;
    font-family: "Oswald", sans-serif;
  }

.Text{
    font-family: "Jersey 25", sans-serif;
    font-family: "Oswald", sans-serif;
    /* font-family: "Sedan", serif; */
}